:root {
  --overlay-animation-time: 0.9s;
  --good-game-scale-factor: 1;
}

.good-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__content {
    width: min-content;
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 2px solid var(--color-five);
  }

  &__canvas {
    background-color: var(--color-five);
    display: block;
    border-radius: 5px;
    border: 1px solid;
  }

  &__overlay {
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--color-one);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--overlay-animation-time) ease, var(--overlay-animation-time) ease;

    &--visible {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__overlay-wrap {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }

  &__title {
    white-space: nowrap;
    font-size: calc(38px * var(--good-game-scale-factor));
    letter-spacing: calc(1.2px * var(--good-game-scale-factor));
    margin: 0 auto calc(250px * var(--good-game-scale-factor)) auto;
    color: var(--color-five);
    background-color: var(--color-white);
    border: 2px solid var(--color-five);
    border-radius: var(--border-radius);
    padding: calc(18px * var(--good-game-scale-factor));

    &--bright {
      color: var(--color-three);
    }
  }

  &__button {
    border: 2px solid var(--color-five);
    border-radius: var(--border-radius);
    padding: calc(8px * var(--good-game-scale-factor)) calc(18px * var(--good-game-scale-factor));
    font-size: calc(14px * var(--good-game-scale-factor));
    background-color: var(--color-two);
    transition: background-color 0.3s linear;
    color: var(--color-five);

    &:hover {
      background-color: var(--color-white);
    }
  }

  &__stamp {
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: var(--color-confirm);
    border-radius: var(--border-radius);
    padding: calc(15px * var(--good-game-scale-factor));
    box-shadow: inset 0px 0px 0px calc(10px * var(--good-game-scale-factor)) var(--color-confirm);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > h4 {
      font-size: calc(24px * var(--good-game-scale-factor));
      letter-spacing: calc(1.5px * var(--good-game-scale-factor));
    }
  }
}
