:root {
  --overlay-animation-time: 0.9s;
}

.good-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__content {
    width: min-content;
    position: relative;
  }

  &__canvas {
    background-color: var(--highlight-five);
    display: block;
    border-radius: 5px;
    border: 1px solid;
  }

  &__overlay {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--highlight-one);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity var(--overlay-animation-time) ease, var(--overlay-animation-time) ease;
    visibility: hidden;
    pointer-events: none;

    &--visible {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  &__button {
    padding: 8px;
    border: 2px solid var(--highlight-five);
    background-color: var(--glass-active);
    transition: background-color 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: inherit;
    cursor: pointer;
  }
}
